/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-brand{
    font-weight: 800;
}
.navbar a{
    font-weight: 300;
}

/* footer */
footer {
    background-color: black;
    height: 80px;
    padding-top: 30px;
    text-align: center;
}
/* footer */



/* login*/
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .form-login input{
      border-radius:0;
  }
  .card1 {
    padding: 15px;
    background-color: white;
    box-shadow: 0 10px 10px 10px rgba(53, 53, 53, 0.2);
    border-radius: 15px;
  }

/* login */

.form-registration input{
    border-radius: 0;
}

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}